<h3 class="mt-4 pb-3 bg-warning text-white rounded-pill p-3">商品比較</h3>
<div class="row">
  <aside class="col-lg-6">
    <h4 class="mt-4 pb-2 border-bottom border-danger">楽天ブックス</h4>
    <%= render 'toppages/item_display', items: @rakuten_item %>
  </aside>
  <div class="col-lg-6">
    <h4 class="mt-4 pb-2 border-bottom border-warning">Amazon</h4>
    <%= render 'toppages/item_display', items: @amazon_item %>
  </div>
</div>