<h1>Toppages#index</h1>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the price-comparison</h1>
  </div>
</div>
<div class="form-group row">
    <div class="col-sm-9">
        <input type="text" class="form-control" name="mail">
    </div>
    <button class="col-sm-3 col-form-button">検索</button>
</div>