<h3 class="mt-4 pb-3 border-bottom">検索結果</h3>
<div class="row">
  <aside class="col-lg-6">
    <h4 class="mt-4 pb-3 border-bottom border-danger">楽天ブックス</h4>
    <%= render 'toppages/search_result', {items: @rakuten_item, scope_name: "rakuten" } %>
  </aside>
  <div class="col-lg-6">
    <h4 class="mt-4 pb-3 border-bottom border-warning">Amazon</h4>
    <%= render 'toppages/search_result', {items: @amazon_item, scope_name: "amazon" } %>
  </div>
</div>