<h2 class="mt-4 pb-4 border-bottom">検索結果</h2>
<% # 取得したデータを10件まで表示 %>
<% @items.first(10).each do |item| %>
  <div class="row">
    <aside class="col-sm-4">
      <img class="rounded img-fluid" src="<%= item[:image_url] %>" alt="">
    </aside>
    <div class="col-sm-8">
      <p><%= item[:name] %></p>
      <p><%= item[:price] %></p>
      <p><a href="<%= item[:shop_url] %>" class="btn btn-primary">ショップで確認</a></p>
    </div>
  </div>
<% end %>    
