<div class="mt-5 mb-5 text-center">
  <h2>商品価格を比較しましょう！</h2>
</div>
<%= form_with(url: search_path, scope: :search_word, local: true) do |f| %>
  <div class="form-group row">
    <%= f.text_field :title, class: "form-control" %>
    <%= f.submit '検索', class: "btn btn-primary" %>
  </div>
<% end %>

<div class="mt-1 pb-1 border-bottom">本日のトレンドワード（ランダムで6個表示してます）</div>
<div class="mt-2 mb-2 d-flex flex-row">
  <% @trend_words.first(6).each do |trend_word| %>
    <div class="mr-4">
      <p><%= trend_word %></p>
    </div>
  <% end %>
</div>