<div class="mt-5 mb-5 text-center">
  <h2>最安値を検索しましょう！</h2>
</div>
<%= form_with(url: search_path, scope: :search_word, local: true) do |f| %>
  <div class="form-group row">
    <%= f.text_field :title, class: "form-control" %>
    <%= f.submit '検索', class: "btn btn-primary" %>
  </div>
<% end %>